.list-tooltip {
  font-size:14px;
  position:absolute;
  background:#fff;
  z-index:3;
  -webkit-box-shadow:-1px 3px 24px 1px rgba(126,125,122,.5);
  -moz-box-shadow:-1px 3px 24px 1px rgba(126,125,122,.5);
  box-shadow:-1px 3px 24px 1px rgba(126,125,122,.5);
  width:100%;
  padding:14px;
  text-align:left;
  margin-bottom:25px;
  color:#4a4a4a;
  line-height:1.3
}
.list-tooltip a {
  color:#006cff;
  font-size:14px
}
.list-tooltip a:hover {
  border-bottom-color:#006cff
}
.list-tooltip p {
  margin-top:0
}
.list-tooltip .btn {
  float:right;
  clear:none;
  margin:0
}
.list-tooltip label {
  float:left
}
.cssfilters .list-tooltip {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-filter:drop-shadow(0px 1px 8px rgba(126, 125, 122, 0.5));
  -moz-filter:drop-shadow(0px 1px 8px rgba(126, 125, 122, 0.5));
  filter:drop-shadow(0px 1px 8px rgba(126, 125, 122, 0.5));
  border-left-color:#fff
}
.pop-modal {
  position:fixed;
  font-size:14px;
  z-index:3;
  width:300px;
  background-color:#fff;
  border:1px solid #dfdfdf;
  text-align:left;
  color:#4a4a4a;
  -webkit-box-shadow:0px 0px 13px 0px #9b9b9b;
  -moz-box-shadow:0px 0px 13px 0px #9b9b9b;
  box-shadow:0px 0px 13px 0px #9b9b9b
}
.pop-modal .qtip-content {
  padding:24px
}
.cssfilters .pop-modal.sit-left:before {
  border-left-color:#fff
}
.cssfilters .pop-modal.sit-right:before {
  border-right-color:#fff
}
.pop-modal input {
  color:#4a4a4a
}
.pop-modal.sit-left:after,
.pop-modal.sit-left:before {
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
  border:solid rgba(255,255,255,0)
}
.pop-modal.sit-left:after {
  border-color:rgba(255,255,255,0);
  border-width:19px;
  right:-38px;
  border-left-color:#fff;
  bottom:0;
  margin-bottom:23px
}
.pop-modal.sit-left:before {
  border-color:rgba(255,255,255,0);
  border-width:20px;
  right:-40px;
  border-left-color:rgba(0,0,0,.35);
  bottom:0;
  margin-bottom:22px
}
.pop-modal.sit-right:after,
.pop-modal.sit-right:before {
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
  border:solid rgba(255,255,255,0)
}
.pop-modal.sit-right:after {
  border-color:rgba(255,255,255,0);
  border-width:19px;
  left:-38px;
  border-right-color:#fff;
  top:0;
  margin-top:23px
}
.pop-modal.sit-right:before {
  border-color:rgba(255,255,255,0);
  border-width:20px;
  left:-40px;
  border-right-color:rgba(0,0,0,.35);
  top:0;
  margin-top:22px
}
.pop-modal label {
  color:#7e7d7a;
  display:block;
  margin-bottom:.5em
}
.pop-modal .add-menu input {
  border:2px solid #00b265;
  border-right:none;
  border-radius:0;
  font-size:14px;
  height:auto;
  line-height:20px;
  margin:0;
  padding:9px
}
.pop-modal .add-menu input::-webkit-input-placeholder {
  font-size:14px;
  color:#9b9b9b
}
.pop-modal .add-menu input:-moz-placeholder {
  font-size:14px;
  color:#9b9b9b
}
.pop-modal .add-menu input::-moz-placeholder {
  font-size:14px;
  color:#9b9b9b
}
.pop-modal .add-menu input:-ms-input-placeholder {
  font-size:14px;
  color:#9b9b9b
}
.pop-modal .input-control {
  display:flex;
  flex-flow:row nowrap;
  margin-bottom:1.5em;
  position:relative;
  width:100%
}
.pop-modal .input-control.success .add-list-submit {
  display:none
}
.pop-modal .input-control.success input {
  border-color:#fff
}
.pop-modal .input-control.success .add-list-status {
  border-color:#fff
}
.pop-modal .input-control.success span {
  padding:5px 10px
}
.pop-modal .status {
  cursor:pointer;
  position:absolute;
  right:5px;
  width:100px;
  height:25px;
  text-align:right;
  top:2px
}
.pop-modal .status .loading {
  height:25px;
  width:25px;
  position:absolute;
  right:4px
}
.pop-modal .status.success {
  color:#e0b70a
}
.pop-modal .status.error {
  color:#f35c00;
  width:35px !important;
  height:25px;
  display:block;
  margin-top:-3px;
  background:url(/app/ui-icons/icons/global/attention.svg) center center no-repeat
}
.pop-modal .status-message {
  margin:0;
  max-width:95%;
  display:none;
  color:#f35c00;
  font-size:14px;
  line-height:1.3
}
.add-list-label,
.watchlist-label {
  border-bottom:1px solid #dfdfdf;
  display:inline-block;
  padding-bottom:2px
}
.watchlist-message .success {
  color:#79bc6c
}
.watchlist-message .failed {
  color:#f35c00
}
.add-list-status {
  border:2px solid #00b265;
  border-left:none;
  display:table-cell;
  width:100%;
  height:38px;
  margin:0;
  vertical-align:top
}
.add-list-status .loading {
  width:30px;
  height:30px;
  margin:4px;
  float:right
}
.add-list-submit {
  background:#00b265;
  border:0;
  color:#fff;
  display:none;
  font-size:1.15em;
  height:38px;
  overflow:hidden;
  padding:0 10px;
  width:100%;
  cursor:pointer
}
.add-list-submit[disabled] {
  background:#dfdfdf
}
.add-list,
.watchlist {
  margin:0 10px 10px;
  padding:0;
  max-height:200px;
  overflow-y:auto
}
.add-list li,
.watchlist li {
  line-height:1.3;
  list-style-type:none;
  text-align:left;
  padding:7px 0;
  position:relative
}
.add-list li button,
.watchlist li button {
  background:0;
  border:0;
  max-width:100%;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  padding:0;
  color:#4a4a4a;
  cursor:pointer;
  font-size:16px;
  margin-bottom:6px
}
.add-list li button:hover,
.add-list li button:active,
.watchlist li button:hover,
.watchlist li button:active {
  background:0;
  color:#00b265
}
.add-list li button[disabled],
.watchlist li button[disabled] {
  color:#9b9b9b
}
.add-list li button:focus,
.watchlist li button:focus {
  outline:none
}
.loading {
  background:url(/app/ui-images/branding/loading-spinner.svg) no-repeat center;
  background-size:100%;
  font-size:20px;
  margin:0 auto;
  width:100%;
  max-width:150px;
  height:150px;
  position:relative;
  text-indent:-9999em
}
.spinner {
  margin:13px 0 0 50px;
  width:30px;
  text-align:center
}
.spinner>div {
  width:7px;
  height:7px;
  background-color:#00b265;
  border-radius:100%;
  display:inline-block;
  -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
  animation:sk-bouncedelay 1.4s infinite ease-in-out both
}
.spinner .bounce1 {
  -webkit-animation-delay:-0.32s;
  animation-delay:-0.32s
}
.spinner .bounce2 {
  -webkit-animation-delay:-0.16s;
  animation-delay:-0.16s
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform:scale(0)
  }
  40% {
    -webkit-transform:scale(1)
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  40% {
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
