/* ______________ STYLES ______________ */
@import url(root.css);
@import url(lightSwitch.css);
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Helvetica, sans-serif;
    height: 100%;
    /* background-image: linear-gradient(to bottom, #ede6f3, var(--secbg)); */
    /* background-size: cover; */
    /* background-attachment: fixed; */
}
h1{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color:var(--white);
}
.full-size{
    width: 100%;
    height: 100vh;
}

#content{
    color:var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    transition-duration: .3s;
}
#plan-txt{
    margin-top: 20px;
    width: 70vw;
}

#plan-txt > ol {
    margin-top: 20px;
    margin-left: 50px;
}

#plan-txt > ol > li {
    margin-top:25px
}
h3{
    margin-bottom: 10px;
}