<!DOCTYPE html>
<html lang="pl-PL">

<head id="ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="icon" type="image/x-icon" href="/static/icon/small.ico">

    <title>
        {% if role=='admin' %}
        Kapsel - Admin
        {% elif role == 'manager'%}
        Kapsel - Manager
        {% else %}
        Kapsel - Pracownik
        {% endif %}
    </title>

</head>

<body class="CacheDetailsPage">
    <div id="nav">
        <a href="/" id="logo"><div id="logoDiv"></div></a>
        <nav>
            <ul>
                {% if role=='admin' %}
                <li class="navBtn"><a href="">Zarządzaj Menagerami</a></li>
                <li class="navBtn"><a href="">Zarządzaj Pracownikami</a></li>
                <li class="navBtn"><a href="">Edytuj Kursy</a></li>
                {% elif role == 'manager'%}
                <li class="navBtn"><a href="">Zarządzaj Pracownikami</a></li>
                {% else %}
                <li class="navBtn"><a href="">Kursy</a></li>
                {% endif %}
                <li class="navBtn"><a href="">Kontakt</a></li>
                <li id="logoutLi">
                    <div class="horizontal">
                        <div id="logoutIcon"></div>
                        <div class="vertical">
                            <div id="timeout"></div>
                            <a href="{{ url_for('logout') }}" id="logoutPageBtn">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <h1>Jesteś, {{ username }}!</h1>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>

</html>