<!DOCTYPE html>
<html lang="pl-PL">

<head id="ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="icon" type="image/x-icon" href="/static/icon/small.ico">

    <title>
        {% if role=='admin' %}
        Kapsel - Admin
        {% elif role == 'manager'%}
        Kapsel - Manager
        {% else %}
        Kapsel - Pracownik
        {% endif %}
    </title>

</head>

<body class="CacheDetailsPage">
    {% include 'navs/navbar.html' %}
    <div id="content">
        <h1>Jesteś, {{ username }}!</h1>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>

</html>