<!DOCTYPE html>
<html lang="pl-PL">

<head id="ctl00_Head1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {{location_title}}
    </title>

</head>

<body class="CacheDetailsPage">
    {% if role=='admin' %}
    <p>Jesteś administratorem.</p>
        <a href="/manageManagers">zarządzaj managerami</a>
        <a href="/manageUsers">zarządzaj pracownikami</a>
    {% elif role == 'manager' %}
    <p>Jesteś managerem.</p>
        <a href="/manageUsers">zarządzaj pracownikami</a>
    {% else %}
    <p>Jesteś pracownikiem.</p>
    {% endif %}
</body>

</html>