<!DOCTYPE html>
<html lang="PL-pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapsel</title>
    <link rel="stylesheet" href="../static/style/login.css">
    <link rel="icon" type="image/x-icon" href="/static/icon/small.ico">
</head>

<body class="theme">
    <dialog>
        <div id="closeBtn">
            <span id="closeSpan45"></span>
            <span id="closeSpanNeg45"></span>
        </div>
    </dialog>
    <h1 class="absolute">
        <span>There</span>
        <span>are</span>
        <span>no</span>
        <span>limits</span>
        <span>to</span>
        <span>what</span>
        <span>you</span>
        <span>can</span>
        <span>accomplish,</span>
        <span>except</span>
        <span>the</span>
        <span>limits</span>
        <span>you</span>
        <span>place</span>
        <span>on</span>
        <span>your</span>
        <span>own</span>
        <span>thinking.</span>
      </h1>
    <div id="container">
        <div id="formDiv" >
            <div id="p1" class="m-15">
                <div id="outerBorder"><div id="logo"></div></div>
            </div>
            <div id="p2">
                <form method="post">
                    <label for="username">Username: </label>
                    <input class="m-5"type="text" name="username" id="username">
                    <label class="m-30"for="password">Password: </label>
                    <input class="m-5"type="password" name="password" id="password">
                    <button class="m-30">
                        <span class="circle1"></span>
                        <span class="circle2"></span>
                        <span class="circle3"></span>
                        <span class="circle4"></span>
                        <span class="circle5"></span>
                        <span class="text" type="submit">Login</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script href="/static/javascript/script.js"></script>
</body>

</html>