<div id="nav">
    <a href="#" id="logo"><div id="logoDiv"></div></a>
    <nav>
        <ul>
            {% if role=='admin' %}
            <li class="navBtn"><a href="manageManagers.html">Zarządzaj Menagerami</a></li>
            <li class="navBtn"><a href="">Zarządzaj Pracownikami</a></li>
            <li class="navBtn"><a href="">Edytuj Kursy</a></li>
            {% elif role == 'manager'%}
            <li class="navBtn"><a href="">Zarządzaj Pracownikami</a></li>
            <li class="navBtn"><a href="">Informacje</a></li>
            {% else %}
            <li class="navBtn">
                <div>
                    TODO: SEARCHBAR
                </div>
            </li>
            <li class="navBtn"><a href="">Lista Kursów</a></li>
            <li class="navBtn"><a href="">Informacje</a></li>
            {% endif %}
            <li class="navBtn"><a href="">Kontakt</a></li>
            <li id="logoutLi">
                <div class="horizontal">
                    <div id="logoutIcon"></div>
                    <div class="vertical">
                        <div id="timeout"></div>
                        <a href="/logout" id="logoutPageBtn">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>